extends layout

block content
  h1= title
  p Bienvenue sur l'API du cours OpenClassrooms - React intermédiaire.
  p Voici les routes disponibles :
  ul 
  li /freelances
  li /profile/?id={id}
  li /survey
  li /results/?a1={answer1}&a2={answer2}&a3={answer3}...
